@model WebApplication1_RazorLearning.Models.Product

@{
    //Layout = null;
    ViewBag.Title = "Product name";
    Layout = "~/Views/_BasicLayout.cshtml";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Model.Name
        tyrty
    </div>
</body>
</html>
